// @import "../_color.scss";
@import "../color";
// @import url("../color");

body{
    background: $navigation-bgcolor;
    main{
        & > section{
            article{
                header.page-header{
                    margin-top: 60px;
                    overflow: hidden;
                    h1.page-title{
                        color: #fff;
                        font-size: 30px;
                        margin: 80px 160px 0 !important;
                        border-bottom: 3px solid rgb(29, 161, 242);
                        -webkit-text-stroke: 1px #403d39;
                    }
                }
                section.entry-content{
                    margin: 80px 160px;
                    .staff-container{
                        .staff{

                        }
                        .staff-content{
                            .staff-list{
                                display: flex;
                                flex-wrap: wrap;
                                .staff-item{
                                    // background: #f5f5f5;
                                    background: #403d39;
                                    // background: ;
                                    color: #fff;
                                    // width: 480px;
                                    width: 420px;
                                    // height: 350px;
                                    margin: auto;
                                    border-radius: 20px;
                                    padding: 40px;
                                    margin-bottom: 40px;
                                    text-align: center;
                                    &:hover{
                                        opacity: 0.8;
                                        figure{
                                            width: 25vmin;
                                            height: 25vmin;
                                        }
                                    }
                                    figure{
                                        width: 20vmin;
                                        height: 20vmin;
                                        margin: 0 auto 30px;
                                        img{
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                    .staff-item-title{
                                        font-size: 21px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}